/***************************************************************************
Styling classes for text floating and screen splitting
***************************************************************************/
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}
.split {
    height: 85%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 7%;
    padding-left: 2%;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.top, .bottom {
    position: fixed;
    height: 50%;
}
.bottom {
    bottom: 0px;
}
.top {
    top: 0px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.verticalDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/***************************************************************************
Common back button styling
***************************************************************************/
.backBtn {
    background-color: #8D51FF;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    margin-right: 9.5%;
}

/***************************************************************************
Common cancel button styling
***************************************************************************/
.cancelBtn {
    background-color: #8D51FF;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    margin-right: 1%;
}

/***************************************************************************
Common add/remove button styling (e.g. add/remove registry/marketplace/device)
***************************************************************************/
.addBtn {
    background-color:  #8D51FF;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    overflow-wrap: normal;
    margin-right: 9.5%;
}
/***************************************************************************
Common finish button styling (e.g. confirm registry/marketplace/device)
***************************************************************************/
.finishBtn {
    background-color:  #8D51FF;
    color: #FFFFFF;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    overflow-wrap: normal;
}

/***************************************************************************
Common button to show the name of an object on the left side
and some value (such as stake in weeve) on the right side
***************************************************************************/
.grayNameBtn {
    background-color:  #E4E7EA;
    color: #353A40;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin: 3px;
}

/***************************************************************************
Common label to show the name of an object on the left side
and some value (such as stake in weeve) on the right side. confirm
label contains a purple border.
***************************************************************************/
.infoLabel {
    background-color:  #E4E7EA;
    color: #353A40;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px !important;
}
.confirm {
    border-bottom: 1px solid #8D51FF;
    height: 51px;
    margin: auto;
}

/***************************************************************************
A gray box used to hold information needed to create/add an Object
(e.g. registry/marketplace/device)
***************************************************************************/
.createBox {
    background-color: #E4E7EA;
    color: #353A40;
    border: 0px solid transparent;
    border-radius: 4px;
    width: 60%;
    height: 70%;
}

/***************************************************************************
A descriptive picture on the left side of the registry/marketplace/device
pages
***************************************************************************/
.descriptionImage {
    width: 90%;
    display: block;
    margin: auto;
}
.firstHex {
    position: relative;
    margin-top: 2%;
    min-width: 3%;
    width: auto;
    max-width: 225px;
    height: auto;
    margin-left: 0px;
}
.secondHex {
    position: relative;
    margin-top: 2%;
    min-width: 3%;
    width: auto;
    max-width: 225px;
    height: auto;
    margin-left: 0px;
    text-align: center;
}
.thirdHex {
    position: relative;
    margin-top: 2%;
    min-width: 3%;
    width: auto;
    max-width: 225px;
    height: auto;
    margin-left: 0px;
    text-align: center;
}
.hexRow {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.hexCol {
    position: relative;
    flex: 50%;
    align-content: center;
    text-align: center;
}
/***************************************************************************
A purple dot for the creation slide show view
***************************************************************************/
.purpleDot {
    height: 15px;
    width: 15px;
    background-color: #8D51FF;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}
.purpleDot:hover {
    opacity: 1.0 !important;
}
.dotRow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/***************************************************************************
Images that display next arrows
***************************************************************************/
.leftArrow, .rightArrow {
    position: relative;
    width: 10%;
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
}
.leftArrow {
    transform: rotate(180deg);
    left: -40%;
}
.rightArrow {
    right: -40%;
}
.leftArrow:hover, .rightArrow:hover {
    opacity: 1;
}
.createInterior {
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position:absolute
}

/***************************************************************************
Error popup message and an exit button
***************************************************************************/
.errorPopup {
    z-index: 1000;
    width: 250px;
    height: 70px;
    padding: 10px;
    background-color: #8d51ff;
    border-radius: 4px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
.exitBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.exitBtn:hover {
    color: #f44336;
}

/***************************************************************************
Styling for the home page
-Panel that holds initial selection buttons
-Buttons
***************************************************************************/
.panelButton {
    background-color: #c3fef8;
    color: #8d51ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 2%;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    height: 400px;
    line-height: 375px;
    opacity: 0.6;
    text-decoration: none !important;
}
.panelButton:hover {
    opacity: 1;
}
#homeSelectPanel {
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 20px;
}

/***************************************************************************
Homepage styling for tiles and buttons
***************************************************************************/
.tileTitle {
    margin-top: 6%;
    text-align: center;
}
.row {
    position: absolute;
    margin-left: -15px;
    margin-right: -15px;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    width: 90%;
    left: 6%;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3%;
}
.tile {
    padding-top: 35px;
    text-decoration: none !important;
    box-shadow: 0px 3px 10px -3px #424242;
    display: block;
    color: black;
    text-align: center;
}
.tile:hover{
    cursor: pointer;
    color: black !important;
    box-shadow: 0px 5px 20px -5px #8D51FF;
}
.tile > img {
    width: 40%;
    min-width: 1%;
    max-width: 50%;
    opacity: 0.7;
}
.tileHeading {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 28px;
    color: black;
    text-shadow: 0.5px 0.5px black;
}
.tileTextArea {
    padding: 30px;
    background-color: #E4E7EA;
    opacity: 0.8;
    font-size: 14px;
}

/***************************************************************************
Basic styling for buttons
***************************************************************************/
button {
    opacity: 0.8;
    cursor: pointer;
    outline: #E4E7EA;
    border: none;
}
button:hover {
    opacity: 1;
    outline: #E4E7EA;
    border: none;
}
button:active {
    border: 2px solid #8D51FF;
    border-radius: 4px;
    outline: #E4E7EA !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button:focus {
    border: 2px solid #8D51FF;
    border-radius: 4px;
    outline: #E4E7EA !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/***************************************************************************
Basic styling inputs
***************************************************************************/
.inputContainer {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px !important;
    z-index: 999 !important;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.inputContainer input {
    width: 350px;
}
input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(141, 81, 255, 0.6);
}
input:focus {
    outline: 0 none !important;
}
input:hover::placeholder {
    color: rgba(141, 81, 255, 1.0) !important;
}
input:active {
    outline: 0 none !important;
}
/***************************************************************************
Basic styling for scrollbar
***************************************************************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E4E7EA;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #CDCFD2;
}
/*************************************************************************
/ Styling for placeholder removal on focus
/*************************************************************************/
 /* Chrome <=56, Safari < 10 */
::-webkit-input-placeholder {
    opacity: 0.5;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
 /* FF 4-18 */
:-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
/* FF 19-51 */
::-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
/* IE 10+ */
:-ms-input-placeholder {
    opacity: 0.5;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}
/* Modern Browsers */
::placeholder {
    opacity: 0.5;
    transition: opacity .5s;
}
/* Chrome <=56, Safari < 10 */
*:focus::-webkit-input-placeholder {
    opacity: 0;
}
/* FF 4-18 */
*:focus:-moz-placeholder {
    opacity: 0;
}
 /* FF 19-50 */
*:focus::-moz-placeholder {
    opacity: 0;
}
/* IE 10+ */
*:focus:-ms-input-placeholder {
    opacity: 0;
}
/* Modern Browsers */
*:focus::placeholder {
    opacity: 0;
}
