/***************************************************************************
Styling classes for text floating and screen splitting
***************************************************************************/
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}
.split {
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 7%;
    padding-left: 2%;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.top, .bottom {
    position: fixed;
    height: 50%;
}
.bottom {
    bottom: 0px;
}
.top {
    top: 0px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.verticalDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/***************************************************************************
Common back button styling
***************************************************************************/
.backBtn {
    background-color: #8D51FF;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    margin-right: 9.5%;
}

/***************************************************************************
Common cancel button styling
***************************************************************************/
.cancelBtn {
    background-color: #8D51FF;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    margin-right: 1%;
}

/***************************************************************************
Common add/remove button styling (e.g. add/remove registry/marketplace/device)
***************************************************************************/
.addBtn {
    background-color:  #8D51FF;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    width: 25%;
    height: 55px;
    font-size: 16px;
    text-align: center;
    overflow-wrap: normal;
    margin-right: 9.5%;
}

/***************************************************************************
Common button to show the name of an object on the left side
and some value (such as stake in weeve) on the right side
***************************************************************************/
.grayNameBtn {
    background-color:  #E4E7EA;
    color: #353A40;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin: 3px;
}

/***************************************************************************
Common label to show the name of an object on the left side
and some value (such as stake in weeve) on the right side. confirm
label contains a purple border.
***************************************************************************/
.infoLabel {
    background-color:  #E4E7EA;
    color: #353A40;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin: 5px;
}
.confirm {
    border: 2px solid #8D51FF;
    height: 51px;
}

/***************************************************************************
A gray box used to hold information needed to create/add an Object
(e.g. registry/marketplace/device)
***************************************************************************/
.createBox {
    background-color: #E4E7EA;
    color: #353A40;
    border: 0px solid transparent;
    border-radius: 4px;
    width: 60%;
    height: 70%;
}

/***************************************************************************
A descriptive picture on the left side of the registry/marketplace/device
pages
***************************************************************************/
.descriptionImage {
    width: 90%;
    display: block;
    margin: auto;
}

/***************************************************************************
A purple dot for the creation slide show view
***************************************************************************/
.purpleDot {
    height: 25px;
    width: 25px;
    background-color: #8D51FF;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}
.purpleDot:hover {
    opacity: 1.0;
}
.dotRow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/***************************************************************************
Images that display next arrows
***************************************************************************/
.leftArrow, .rightArrow {
    position: relative;
    width: 10%;
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
}
.leftArrow {
    transform: rotate(180deg);
    left: -40%;
}
.rightArrow {
    right: -40%;
}
.leftArrow:hover, .rightArrow:hover {
    opacity: 1;
}

.createInterior {
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position:absolute
}

/***************************************************************************
Styling for the home page
-Panel that holds initial selection buttons
-Buttons
***************************************************************************/
.panelButton {
    background-color: #c3fef8;
    color: #8d51ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 2%;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    height: 400px;
    line-height: 375px;
    opacity: 0.6;
    text-decoration: none !important;
}
.panelButton:hover {
    opacity: 1;
}
#homeSelectPanel {
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 20px;
}
#arbiterButton {
    width: 1217px;
    height: 100px;
    line-height: 75px;
}

/***************************************************************************
Homepage styling testing
***************************************************************************/
.row {
    margin-left: -15px;
    margin-right: -15px
}
.row:before, .row:after {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
.col {

}

/***************************************************************************
Basic styling for buttons
***************************************************************************/
button {
    opacity: 0.8;
    cursor: pointer;
    outline: #E4E7EA;
    border: none;
}
button:hover {
    opacity: 1;
    outline: #E4E7EA;
    border: none;
}
button:active {
    border: 2px solid #8D51FF;
    border-radius: 4px;
    outline: #E4E7EA !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button:focus {
    border: 2px solid #8D51FF;
    border-radius: 4px;
    outline: #E4E7EA !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
