/***************************************************************************
Styling classes for text floating and screen splitting
***************************************************************************/
.leftFloat {
  float: left;
}
.rightFloat {
  float: right;
}
.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 7%;
  padding-left: 2%;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
.top, .bottom {
  position: fixed;
  height: 50%;
}
.bottom {
  bottom: 0px;
}
.top {
  top: 0px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.verticalDisplay {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/***************************************************************************
Common back/cancel/finish button styling
***************************************************************************/
.backBtn {
  background-color: #8D51FF;
  color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 4px;
  width: 25%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  margin-right: 9.5%;
}

/***************************************************************************
Common add/remove button styling (e.g. add/remove registry/marketplace/device)
***************************************************************************/
.addBtn {
  background-color:  #8D51FF;
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  width: 25%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  overflow-wrap: normal;
  margin-right: 9.5%;
}

/***************************************************************************
Common button to show the name of an object on the left side
and some value (such as stake in weeve) on the right side
***************************************************************************/
.grayNameBtn {
  background-color:  #E4E7EA;
  color: #353A40;
  border: none;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  height: 55px;
  text-align: center;
  font-size: 22px;
  margin: 5px;
}

/***************************************************************************
Common label to show the name of an object on the left side
and some value (such as stake in weeve) on the right side. confirm
label contains a purple border.
***************************************************************************/
.infoLabel {
  background-color:  #E4E7EA;
  color: #353A40;
  border: 2px solid transparent;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  height: 55px;
  text-align: center;
  font-size: 22px;
  margin: 10px;
}
.confirm {
  border: 2px solid #8D51FF;
}

/***************************************************************************
A gray box used to hold information needed to create/add an Object
(e.g. registry/marketplace/device)
***************************************************************************/
.createBox {
  background-color: #E4E7EA;
  color: #353A40;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 20px;
  width: 925px;
  height: 800px;
  margin: 10px;
}

/***************************************************************************
A descriptive picture on the left side of the registry/marketplace/device
pages
***************************************************************************/
.descriptionImage {
  width: 90%;
  display: block;
  margin: auto;
}

/***************************************************************************
Styling for the home page
	-Panel that holds initial selection buttons
	-Buttons
***************************************************************************/
.panelButton {
	background-color: #c3fef8;
	color: #8d51ff;
	text-align: center;
	line-height: 375px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	width: 400px;
	height: 400px;
	opacity: 0.6;
	text-decoration: none !important;
}
.panelButton:hover {
	opacity: 1;
}
#homeSelectPanel {
	display: flex;
	flex: 1 1;
	justify-content: center;
	padding: 20px;
}
#arbiterButton {
	width: 1217px;
	height: 100px;
	line-height: 75px;
}


/***************************************************************************
Basic styling for buttons
***************************************************************************/
button {
	opacity: 0.6;
	cursor: pointer;
}

button:hover {
	opacity: 1;
}

button:active {
  border: 2px solid #8D51FF;
  border-radius: 4px;
}
