/***************************************************************************
Styling for footer information
***************************************************************************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #343a40;
    color: white;
    text-align: center;
}
.footer-right {
    margin-top: 10px;
    height: 2em;
}
.footer-right .fa {
    margin-right: 10px;
}
.footer-right a:link, .footer-right a:visited, .footer-right a:link:active {
    color: white;
}
.footer-right a:hover {
    color: lightgray;
}
.footercontainer {
    margin-top: 7px;
    width: 400px;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

#metamaskButton, #balanceETH, #balanceToken, #getTokens {
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 8px;
}
#balanceETH, #balanceToken {
    display: none;
}
